
.accountTitle {
  display: flex;
  justify-content: center;
}
.profileImage {
  max-width: 100%;
  border-radius: 100%;
}
.personalInformation {
  width: 100%;
}
.accountDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2em;
}
.profileInput {

  height: 7vh;
  border-radius: 50px;
  border: solid 1px rgb(209, 204, 204);
  padding: 1em;
}
.profileLabel {
  margin-bottom: 0.4em;
}
.profileBtn {
 
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
}
.logOut {
  padding: 0.5em;
  border-radius: 10px;
  background-color: red;
  color: var(--white);
  border: none;
  margin-left: 1em;
}
.profileBtn1 {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .manageProfile {
    flex-direction: column;
    margin: 1em;
  }
  .profileImage {
    width: 180px;
    height: 11em;
  }
  .profileImage1 {
    margin: 0 auto 2em;
  }
  .profileBtn1 {
    display: flex;
    justify-content: center;
  }
  .personalInformation {
    margin: auto;
  }
  .accountTitle {
    display: flex;
    justify-content: center;
  }
}
